<div th:fragment="footer" xmlns:th="http://www.thymeleaf.org">
    <!-- All Jquery -->
    <script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
    <script th:src="@{/assets/extra-libs/sparkline/sparkline.js}"></script>
    <!-- Wave Effects -->
    <script th:src="@{/dist/js/waves.js}"></script>
    <!-- Menu sidebar -->
    <script th:src="@{/dist/js/sidebarmenu.js}"></script>
    <!-- Custom JavaScript -->
    <script th:src="@{/dist/js/custom.min.js}"></script>
    <!-- Charts js Files -->
    <script th:src="@{/assets/libs/flot/excanvas.js}"></script>
    <script th:src="@{/assets/libs/flot/jquery.flot.js}"></script>
    <script th:src="@{/assets/libs/flot/jquery.flot.pie.js}"></script>
    <script th:src="@{/assets/libs/flot/jquery.flot.time.js}"></script>
    <script th:src="@{/assets/libs/flot/jquery.flot.stack.js}"></script>
    <script th:src="@{/assets/libs/flot/jquery.flot.crosshair.js}"></script>
    <script th:src="@{/assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js}"></script>
    <script th:src="@{/dist/js/pages/chart/chart-page-init.js}"></script>
</div>