<aside th:fragment="menu" class="left-sidebar" data-sidebarbg="skin5">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="pt-4">
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" th:href="@{/}" aria-expanded="false">
                        <i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Trang Chủ</span>
                    </a>
                </li>
                <th:block th:if="${session.userLogged != null}">
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#" aria-expanded="false">
                            <i class="mdi mdi-gamepad-variant"></i><span class="hide-menu">Quản lý Game</span>
                        </a>
                    </li>
                </th:block>
            </ul>
        </nav>
    </div>
</aside>